.GaleryGrid{
    height: max-content;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}

.GaleryGrid div{
  border-radius: 40px;
  overflow: hidden;
}

.GaleryGrid img{
    width: 100%;
}

.GaleryGrid div:hover img{
  transform: scale(1.05);
  transition: transform 0.5s linear;
}

#captureLine{
  width: 1050px;
  display:flex;
  height: max-content;
  margin:auto;
  margin-top: 80px;
  margin-bottom:40px;
  /* background-color: red; */
}

#captureLine .pGroup{
  display: flex;
  flex-direction: column;
  gap:40px;
}

#captureLine p{
  font-size: 12px;
  text-transform: uppercase;
  color: #c2c2c2;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

#captureLine .pGroup p:last-child{
  color:white;
  text-transform: none;
  font-size: medium;
}