* {
  transition: all 0.5s linear;
}

.imageBunch {
  height: 250px;
  width: 800px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.imageBunch .image {
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
  position: relative;
  top: -50%
}

.imageBunch #image1 {
  background-image: url("../assets/imageHover/glass.png");
  transform: scale(2) rotate(-15deg);
  left: -50px;
  z-index: 1;
}
.imageBunch #image2 {
  background-image: url("../assets/imageHover/Glow.png");
  transform: scale(2) rotate(-10deg);
  left: -30px;
  z-index: 2;
}

.imageBunch #image3 {
  background-image: url("../assets/imageHover/Haptic.png");
  transform: scale(2) rotate(-5deg);
  left: -10px;
  z-index: 3;
}

.imageBunch #image4 {
  background-image: url("../assets/imageHover/liquid.png");
  z-index: 1;
  left: 300px;
  transform: scale(2) rotate(2deg);
}

.imageBunch #image5 {
  background-image: url("../assets/imageHover/neo.png");
  z-index: 2;
  left: -70px;
  transform: scale(2) rotate(5deg);
}

.imageBunch #image6 {
  background-image: url("../assets/imageHover/Soft\ ui.png");
  z-index: 0;
  left: 50px;
  transform: scale(2) rotate(15deg);
}

.GlanceLine {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  text-transform: uppercase !important;
  color: #c2c2c2;
  position: relative;
  left: 20px;
  transform: translateX(20px);
}
