.imageBunch {
  height: 250px;
  width: 800px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  transform: translateY(-50px)
}

#image0 img{
  rotate: -15deg;
  transform: translateY(30px);
  filter: brightness(30%);
}


#image0 img.active{
  transform: rotate(15deg) scale(1); 
  filter: brightness(100%);
}

#image1 img{
  rotate: -8deg;
  filter: brightness(30%);
}

#image1 img.active{
  transform: rotate(8deg) scale(1); 
    filter: brightness(100%);
}

#image2 img{
  rotate: 4deg;
  filter: brightness(30%);
}

#image2 img.active{
  transform: rotate(-4deg) scale(1); 
  filter: brightness(100%);
}

#image3 img{
  rotate: 12deg;
  transform: translateY(20px);
  filter: brightness(30%);
}

#image3 img.active{
  transform: rotate(-12deg) scale(1); 
  filter: brightness(100%);
}

#image4 img{
  rotate: 15deg;
  transform: translateY(30px);
  filter: brightness(30%);
}

#image4 img.active{
  transform: rotate(-15deg) scale(1); 
  filter: brightness(100%);
}

.imageBunch .image {
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: -50%;
  display: flex;
  place-content: center;
}

.imageBunch .image img{
  width: 360px;
  height: auto;
  object-position: center;
  border-radius: 0px;
  margin-right: -160px;
}

.imageCollage {
  cursor: pointer;
  transition: 
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  z-index: 1;
}

/* Hovered image moves to center */
.imageCollage.active {
  z-index: 1000;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.35);
}

.GlanceLine {
  width: 100%;
  font-size: 12px;
  text-transform: uppercase !important;
  color: #c2c2c2;
  position: relative;
  transform:translateY(-50px) ;
}
