#imageGallery{
    display: grid;
    height: 300px;
    width: 1100px;
    /* margin-left: -29%; */
    margin-top: 10%;
    grid-template-columns: repeat(4,1fr);
    gap: 60px;
    /* scale: 60%; */
}

#imageGallery div{
    box-shadow: 0 0 24px #0000001e;
    border-radius: 2px;
    z-index: 1;
    background-color:white;
}


#imageGallery div img{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-56%);
}

#imageGallery div.card img{
    width: 91%;
    height: 82%;
}

/* card positioning */

#imageGallery div#card1{
    transform: rotate(-8deg) translateX(40px);
    z-index: 0 !important;
}

#imageGallery div#card2{
    transform: rotate(4deg);
}

#imageGallery div#card3{
    transform: rotate(-6deg) translateX(-40px);
}

#imageGallery div#card4{
    transform: rotate(3.5deg) translateX(-80px);
}

@media (max-width: 990px) {
    #imageGallery{
        width: 100%;
        height: auto;
        /* grid-template-columns: repeat(2,1fr); */
    }
}