#storyParagraph{
    width: 80%;
    display: flex;
    flex-direction: row;
    line-height: 26px;
    color: #222222;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#storyParagraph mark{
    background-color: transparent;
}