#storyParagraph{
    width: 100%;
    display: flex;
    flex-direction: row;
    line-height: 26px;
    color: #222222;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

#storyParagraph mark{
    background-color: transparent;
}