#storyParagraph{
    width: 1050px;
    line-height: 24px;
    color: #222;
    font-size: 14px;
    font-weight: 400;
    transform: translateX(40px);
    padding-bottom: 20px;
}

#storyParagraph mark{
    background-color: transparent;
}