.main{
    margin: 7.5%;
    margin-top: 0px;
}

.relative .timeStage{
    position: relative;
}

.relative .timeStage .box{
   border-left-style: solid;
   border-color: #e5e5e5;
   border-width: 2px;
   padding-left: 40px;
}

.relative .timeStage .year{
    position: relative;
    left: -7vh;
    top: 15%;
    color: #888888;
    font-size: 14px;

}

.relative .timeStage .dot{
    height: 8px;
    width:  8px;
    background-color: #888;
    border-radius: 50%;
    position: relative;
    left: -0.3%;
    top: -1.5vh;
}

.relative .timeStage .box .content h3{
    padding-bottom: 12px;
    font-size: 18px;
    color: #222;
    font-weight: 500;
}

.relative .timeStage .box .content p{
    padding-bottom: 16px;
    font-size: 16px;
    color: #555;
    font-weight: 400;
    text-transform: none;
    line-height: 24px;
}

.relative .timeStage .box .content {
    width: 650px;
    transform: translateY(-27px);
}