.workLine{
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height: 25px;
  margin-top: 80px;
}

.workLine p{
  font-size: 12px;
  text-transform: uppercase;
  color: #c2c2c2;
  margin-top: auto;
 }

.workDisplay .displayLine{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:  100%;
  height: 50px;
  margin-top: 60px;
}
.workDisplay .displayLine div#workTitle{
  display: grid;
  grid-template-columns: 50px 200px;
  gap: 10px;
}

.workDisplay .displayLine div#workTitle p{
  font-size: 18px;
  width:700px;
}

.workDisplay .displayLine div#workTitle img{
  width: 60%;
  place-self: center;
}

.workDisplay .displayLine p{
  margin-top: auto;
  margin-bottom: auto;
}

.workDisplay .displayLine p.Interface{
  text-transform: capitalize;
  color: #944313;
  font-size:  10px;
  padding: 8px;
  padding-left: 13px;
  padding-right: 13px;
  margin-left: 10px;
  background-image: linear-gradient(45deg,#fcf5db,#fffcef,#fcf5db);
  border-radius: 50px;
}

.workDisplay .displayLine p.case{
  text-transform: capitalize;
  color: #366dce;
  font-size:  10px;
  padding: 8px;
  padding-left: 13px;
  padding-right: 13px;
  background-color: #e5f3fe;
  border-radius: 50px;
}

.workDisplay .displayLine p.design{
  text-transform: capitalize;
  color: #6947d1;
  font-size:  10px;
  padding: 8px;
  padding-left: 13px;
  padding-right: 13px;
  background-image: linear-gradient(45deg,#efeaff,#f6f2ff,#efeaff);
  border-radius: 50px;
}


.workDisplay .display {
  height: 500px;
  width: 100%;
  box-shadow: 0 0 40px #00000010;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border-radius: 25px;
  display: flex;
}

.workDisplay .display video{
  place-self: center;
  border-style: solid;
  border-width: 8px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  height: 874px;
  width: 402px;
  transform: scale(0.5);
  padding: 0%;
  border-radius: 80px;
  object-fit: cover;
}

 .workDisplay .display img{
  border-radius: 40px;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
 }

 .workDisplay .display:hover video{
  transform: scale(0.52);
  transition: all 0.5s linear;
 }

.workDisplay .display:hover img{
  transform: scale(1.05);
  transition: all 0.5s linear;
}

.workDisplay p#workDetails{
  width: 100%;
  height: max-content;
  text-align: start;
  margin-top: 40px;
  line-height: 24px;
}

.workDisplay p#workDetails mark{
  background-color: transparent;
  font-weight: 600;
}

.workDisplay a,.workDisplay span.status-label{
  display: inline-block;
  height: 25px;
  width: fit-content;
  color: #222222;
  text-decoration: none;
  border-bottom-style: solid;
  border-color: #222222;
  border-width: 1px;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  top:40px;
  cursor: pointer;
}

.workDisplay a img{
  height: 16px;
  position: relative;
  left: 0px;
  top: 5px;
}

.work{
  margin-bottom: 40px;
}

.space{
  height: 50px;
  width: 100%;
}