@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');
@font-face {
  font-family: 'orange-avenue';
  src: url(./assets/font/OrangeAvenueDEMO-Regular.otf) format('opentype');
}


.pageBunch{
  height: 100vh;
  width:  100vw;
  z-index: 0;
}

#page1{
  background-image: url(./assets/whiteGrid.avif);
}
#page1 .layer{
  z-index: 1;
  background-image: radial-gradient(circle 1000px at left center,rgba(255,255,255,0.9),white);
  height: 100%;
  width:  100%;
}

#nav{
  background-color: white;
  border-color: #ededed;
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  padding: 12px;
  width: 500px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 30px #dcdcdc;
  z-index: 999;
}

#nav #time{
  display: flex;
  flex-direction: row;
  gap: 10px;
  place-content: center;
  width: max-content;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  max-height: 100px;
}

#nav #time p{
  height: max-content;
  width: max-content;
  background-image: linear-gradient(to right,#f5f5f5,#ffffff);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  font-size: 10px;
  font-weight: 400;
  border-style: solid;
  border-width: 1px;
  border-color: #ededed;
}

#nav #time p span{
  font-weight: 300;
  font-size: 9px;
  color: #414141;
}

#nav #time img{
  height: 18px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#nav #link ul{
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  position: relative;
  top: 50%;
  transform: translate(-10px,-50%);
}

#nav #link ul li a{
  text-decoration: none;
  text-transform: capitalize;
  color:#414141;
  font-size: 12px;
  font-weight: 500;
  padding: 10px;
  border-radius: 50px;
}

#nav #link ul li a:hover{
  background-image: linear-gradient(to right,#f5f5f5,#ffffff);
}

#nav #GIT{
  height: fit-content;
  width: fit-content;
  text-transform: capitalize;
  font-size: 12px;
  transform: translateY(75%);
}
#nav #GIT a{
  height: max-content;
  padding: 10px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 20px;
  background-color: #222222;
  text-decoration: none;
  color: white;
}

#page1 .layer .paragraph{
  max-height: 500px;
  width: 500px;
  position: relative;
  top: 45%;
  left: 10%;
}

#page1 .layer .paragraph p{
  font-size: 18px;
  line-height: 25px;
  color: #484848;
  cursor: default;
}

#page1 .layer .paragraph h1{
  letter-spacing: -0.5px;
  font-size: 108px;
  font-family: 'League Spartan';
  cursor: default;
}

#page1 .layer img#rainyProfile{
  height: 400px;
  position:relative;
  left: 65%;
}

#page1 .layer img#notepad{
  position: relative;
  left: 35%;
  top: -30%;
  transform: scale(0.7);
}

#page2 .paragraph{
  width: 80%;
  max-height: 100vh;
  position: relative;
  left: 10%;
  top: 50px;
}

#page2 .paragraph .aboutLine{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height: 25px;
  margin-bottom: 60px;
}

#page2 .paragraph .aboutLine p{
  font-size: 12px;
  text-transform: uppercase;
  color: #c2c2c2;
  position: relative;
  left: 20px;
  margin-top: auto;
  top: -7%;
  
  transform: translateX(20px);
}

#page2 .paragraph .aboutLine .buttonSwitch{
  width: 205px;
  height: 37px;
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 6px;
  transform: translateX(-20px);
}

#page2 .paragraph .aboutLine .buttonSwitch button{
  border-radius: 6px;
  border:none;
  color: #111111;
}

#page2 .paragraph .aboutLine .buttonSwitch button img{
  height: 12px;
  position: relative;
  top: 1px;
  left: -4px;
}

.active{
  background-color: white !important;
  box-shadow: 0 0 2px #e6e6e6;
}

#page3 iframe{
  position: relative;
  top: 120px;
  height: 100%;
  width: 100%;
}

#page4,#page5{
  display:flex;
  justify-content: center;
  align-content: center;
  background-color: #222222;
}

#page5{
  background-color: transparent;
}

#page4 .dive-deep,#page5 .keep-simple{
  margin: 0%;
  margin: auto;
  color: #e5e5e5;
  height: max-content;
}

#page5 .keep-simple{
  color: #222222;
}

#page4 .dive-deep h1,#page5 .keep-simple h1,#page5 .keep-simple h2{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    font-size: 60px;
    font-weight: 600;
}

#page4 .dive-deep h1 span,#page5 .keep-simple h1 span{
  font-family: 'newsreader';
  text-transform: none;
}

#page4 .dive-deep p,#page5 .keep-simple p{
    width: 580px;
    margin: auto;
    text-align: center;
    line-height: 28px;
    padding-top: 30px;
    font-family: 'inter';
    text-transform: none;
    font-size: 18px;
  }

  #page5 .keep-simple h1 span{
    font-family: 'inter';
  }

  #page5 .keep-simple h2 span{
    font-family: 'caveat';
    text-transform: none;
  }

  #page5 .keep-simple h1{
    font-size: 30px;
    font-style: unset;
    gap: 5px;
  }

  #page5 .keep-simple h2{
    transform: translateY(-10px);
    font-size: 90px;
  }

  #page5 .keep-simple p{
    width: 1000px;
    font-size: 16px;
    text-align: center;
  }

  #page6{
    display: grid;
    place-items: center;
  }