*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'inter';
  scroll-behavior: smooth;
}

html,body,#root{
  height: 100%;
  width:100%;
  overflow-x: hidden;
  overflow-y: auto;
}